<template name="new_page">
  <h1>New Page</h1>
  <form class="form-horizontal" id="newPageForm">
    {{> page_title}}
    <label for="title">Slug</label>
    <input type="text" class="new-page-slug" name="slug" placeholder="Page Slug">

    <div class="azimuth-buttons clear">
      <a class="azimuth-button text left cancel">Cancel</a>
      <a class="azimuth-button right submit"><i class="icon icon-checkmark"></i>Save</a>
    </div>
  </form>
</template>
<template name="page_title">
    {{# each languages}}
        <label for="title">Title {{this}}</label>
        <input type="text" class="new-page-title {{this}}" name="title[{{this}}]" placeholder="Page Title {{this}}">
    {{/each}}
</template>
